<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889396223086-47280du5ic0tm3e9qcf4fh2vh71hfj9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889396223086-47280du5ic0tm3e9qcf4fh2vh71hfj9u</string>
	<key>API_KEY</key>
	<string>AIzaSyBoWQuSwrVo9J2XMNG4UK-7-o7QdOs1TgE</string>
	<key>GCM_SENDER_ID</key>
	<string>889396223086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jack.com.FoodyCat</string>
	<key>PROJECT_ID</key>
	<string>foodycat-1adb1</string>
	<key>STORAGE_BUCKET</key>
	<string>foodycat-1adb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889396223086:ios:a38c460fdc64e8ef67da7f</string>
</dict>
</plist>